.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
}
.title-logo {
  display: flex;
}
.left-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 6px;
}
.left-container h1 {
  margin-left: 8px;
  color: var(--blue);
  font-weight: 600;
}
.right-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 6px;
}
.right-container i {
  font-size: 20px;
}

.right-container input {
  border: 1px solid grey;
  padding: 2px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 1.5rem;
  margin: 0;
}

.nav-list a {
  color: var(--blue);
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: var(--blue);
  color: #fff;
}

.nombre {
  color: var(--blue);
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nombre:hover {
  background-color: var(--blue);
  color: #fff;
}

.compras-link {
  color: var(--blue) !important;
  font-weight: 600 !important;
}

/* responsive mobile */
@media (max-width: 680px) {
  .nav-container {
    flex-direction: column;
  }
  .left-container {
    flex-direction: row;
  }
  .title-logo {
    display: flex;
    align-items: center;
  }
  .title-logo h1 {
    font-size: 20px;
  }
  .nav-list {
    display: none;
  }
  .right-container {
    justify-content: center;
  }
}

@media (max-width: 830px) {
  .left-container {
    justify-content: space-between;
  }
  .nav-list {
    padding: 4px 0;
  }
}
@media (max-width: 930px) and (min-width: 680px) {
  .left-container {
    flex-direction: column;
    justify-content: center;
  }
  .nav-list {
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 680px) {
  .right-container {
    justify-content: flex-end;
  }
}
