.title-cart {
  display: flex;
  justify-content: center;
}
.table {
  font-size: 90% !important;
}

.title-cart h2 {
  border-bottom: var(--blue) 2px solid;
  padding-bottom: 2px;
}
.modify-cart {
  align-items: center;
}
.modify-cart button {
  width: 35px;
}
.bi-trash-fill {
  cursor: pointer;
  font-size: 1.3rem;
  color: #f00;
}
.bi-trash-fill:hover {
  color: rgb(235, 99, 99);
}

@media (max-width: 650px) {
  .products-container {
    display: flex;
    flex-direction: column;
  }
  .table-header {
    display: none;
  }
  .prod-cart {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .prod-container {
    display: flex;
    flex-direction: column;
  }
  .prod-img {
    display: none;
  }
  .modify-cart {
    flex-direction: column;
    align-items: center;
  }
}
