.list {
  display: flex;
  justify-content: center;
}

.filter-container {
  color: var(--blue);
  margin: 0 10px;
}
.filter-title p {
  font-size: 26px;
  font-weight: 800;
}
.filter-list {
  padding: 0;
  margin: 0;
}

.filter-list li {
  margin: 10px 0;
  color: var(--blue);
  text-decoration: underline;
  font-weight: 600;
}

.filter-list li:hover {
  color: #096096;
}

.active {
  color: #10354e !important;
}

@media (max-width: 780px) {
  .list {
    width: 100%;
  }
  .filter-container {
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filter-container p {
    padding: 10px;
  }
  .filter-list {
    display: flex;
    width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--blue);
  }
  .filter-list li {
    text-decoration: underline;
    margin: 4px 10px;
    color: white;
    font-weight: bold;
  }
}
