.bi-trash-fill,
.bi-pencil-square {
  cursor: pointer;
  font-size: 1.3rem;
}

.bi-pencil-square {
  color: var(--blue);
}

.bi-trash-fill {
  color: red;
}

.bi-pencil-square:hover {
  color: #6ca9cf;
}

.bi-trash-fill:hover {
  color: rgb(235, 99, 99);
}

@media (max-width: 590px) {
  .hide {
    display: none;
  }
}
