@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --blue: #0077c0;
}

#root {
  height: 100vh;
  width: 100vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

<<<<<<< HEAD #root {
  height: 100vh;
  width: 100vw;
}

=======>>>>>>>5d03782e2132415bc3dd08cd81cec2cce0210d24 a {
  text-decoration: none;
}
