.card-title {
  display: flex;
  justify-content: center;
}
.card-title h2 {
  margin-top: 10px;
  font-size: 40px;
  display: inline-block;
  padding-bottom: 2px;
  text-align: center;
  border-bottom: var(--blue) 2px solid;
}
